@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#__next {
  height: 100%;
}

.cm-editor,
.cm-scroller {
  border-radius: 0.375rem;
}

.ͼ1.cm-editor {
  outline-style: none !important;
  border-radius: 0.375rem;
}

.cm-theme-dark .cm-content {
  background-color: #3f3f46;
}

.cm-theme-dark .cm-gutter {
  background-color: #27272a;
}

.cm-theme-dark .cm-activeLine {
  background-color: #4b5563;
}

.cm-theme-dark .cm-gutterElement.cm-activeLineGutter {
  background-color: #374151;
}

.cm-theme-dark .ͼo.cm-focused .cm-selectionBackground,
.cm-theme-dark .ͼo .cm-selectionBackground,
.cm-theme-dark .ͼo .cm-content ::selection {
  background-color: #6b7280 !important;
  color: #fff;
}

.cm-theme-dark .ͼo .cm-selectionMatch {
  background-color: rgba(107, 114, 128, 0.5);
}

/* .cm-theme-light .cm-content {
  background-color: #f3f4f6;
}

.cm-theme-light .cm-gutter {
  background-color: #e5e7eb;
}

.cm-theme-light .cm-gutterElement.cm-activeLineGutter,
.cm-theme-light .cm-activeLine {
  background-color: #d1d5db;
} */

.cm-theme-light .cm-content {
  background-color: #fafafa;
}

.cm-theme-light .cm-gutter {
  background-color: #d4d4d8;
}

.cm-theme-light .cm-gutterElement.cm-activeLineGutter,
.cm-theme-light .cm-activeLine {
  background-color: #e4e4e7;
}

.cm-theme-light .ͼ2.cm-focused .cm-selectionBackground,
.cm-theme-light .ͼ2 .cm-selectionBackground,
.cm-theme-light .ͼ2 .cm-content ::selection {
  background-color: #60a5fa !important;
  color: #fff;
}

.cm-theme-light .ͼ1 .cm-selectionMatch {
  background-color: rgba(96, 165, 250, 0.5);
}

.light pre {
  background-color: #e4e4e7 !important;
  color: #27272a !important;
}

.dark pre {
  background-color: #18181b !important;
  color: #fafafa !important;
}

:root {
  --toastify-color-info: #38bdf8 !important;
  --toastify-color-success: #16a34a !important;
  --toastify-color-warning: #facc15 !important;
  --toastify-color-error: #dc2626 !important;
}

.loader-1 {
  animation-delay: 50ms;
}

.loader-2 {
  animation-delay: 150ms;
}

.loader-3 {
  animation-delay: 250ms;
}

.prose {
  max-width: 100% !important;
}
