@tailwind base;
@tailwind components;
@tailwind utilities;

html,
#__next {
  height: 100%;
}

.cm-editor,
.cm-scroller {
  border-radius: 0.25rem;
}

.ͼ1.cm-editor {
  outline-style: none !important;
  border-radius: 0.25rem;
}

:root {
  --toastify-color-info: #38bdf8 !important;
  --toastify-color-success: #16a34a !important;
  --toastify-color-warning: #facc15 !important;
  --toastify-color-error: #dc2626 !important;
}
